@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap");

//----------
@import "./abstracts/colors";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./layout/navbar";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./sections/revolution";
@import "./sections/hereis";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $Lato;
}
